.login-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    background-color: #87CEEB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .left-side h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .left-side .icon {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .left-side p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .right-side {
    background-color: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .right-side h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  form {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #b19cd9;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a299c7;
  }